<div class="quiz-area" ng-show="inProgress">
	<div ng-show="!quizOver">
		<h2 id="question">{{question}}</h2>
		<ul id="options">
			<li ng-repeat="option in options">
				<label>
					<input type="radio" name="answer" value="{{option}}">
				</label>
			</li>
		</ul>
		<div id="score">
		{{score}}%
		</div>
		
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">That is correct!</span>
			<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
			<span ng-show="ans17">This is how the economy affects your age group</span>
			<span ng-show="ans30">This is how the economy affects your age group</span>
			<span ng-show="ans45">This is how the economy affects your age group</span>
			<span ng-show="ans59">This is how the economy affects your age group</span>
			<span ng-show="ans60">This is how the economy affects your age group</span>
			<button id="startQuiz" ng-click="start()">Lol wicked. How do we begin?</button>
		</div>
		
	</div>

	<div ng-show="quizOver">
		<h2>Quiz is over</h2>
		<button ng-click="reset()">Play again</button>
	</div>

	
</div>

</div>

<div class="messages-entry">
	<div class="intro" ng-show="!inProgress">
	<button class="text-entry">Under 18</button><button class="text-entry">18-30</button><button class="text-entry">31-59</button><button class="text-entry">60+</button>
	</div>
</div>